* {
    font-size: 20px;
    box-sizing: border-box;
    /*outline: 2px solid black;*/
}

.home {
    background-image: url(./images/recipeBackground.jpg);
}

.home_h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

.home_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;    
}

.button {
    background-color: #a2b2df54;
    text-align: center;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.recipe_body {
    background-color: antiquewhite;
}

.recipe_h1 {
    text-align: center;
}

.recipe_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}